
body {
    font-family: 'Manrope', sans-serif;
}
img {
    display: block;
}
button {
    font-family: "IBM Plex Mono";
    font-style: normal;
}
.header__logo {
    cursor: pointer;
}
.container {
    background-color: #fff;
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}
a {
    cursor: pointer;
    text-decoration: none;
}
/*header*/
.header {
    padding-bottom: 73.76px;
}
ul li {
    cursor: pointer;
}
.nav a {
    text-decoration: none;
    color: #121212;
}
.nav {
    margin-top: 32.82px;    
    display: flex;
    justify-content: space-between;
}
.nav__links {
    display: flex;
    flex-direction: row;
}
.nav__link {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 4px;
    margin-left: 56px;
}
.nav__link:hover {
    transition: 0.51s;
    text-underline-offset: 6.4px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 4px;
    color: #000;
    opacity: 0.5;
    text-decoration: underline;
}
/*intro*/
.intro {
    padding-bottom: 155px;
}
.intro__wrapper {
    height: 500px;
}
.intro__title {
    margin-bottom: 30px;
    max-width: 984.9px;
    width: 100%;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: -1.8px;
}
.intro__image-first img{
    max-width: 1150px;
    width: 100%;
    max-height: 500px;
    height: 100%;
}
.intro__text-first {
    max-width: 430px;
    position: relative;
    bottom: 122px;
    left: 40px;
    font-size: 19px;
    line-height: 27.32px;
    letter-spacing: -0.1px;
    font-weight: 400;
    color: #fff;
    
}
/*about*/
.about {
    padding-bottom: 149px;
}
h2.about__us {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #121212;
}
h2.about__text {
    line-height: 62.47px;
    max-width: 1048px;
    width: 100%;
    font-size: 43px;
    font-weight: 400;
    letter-spacing: -0.299px;
    margin-bottom: 30px;
}
.about__button {
    cursor: pointer;
    padding: 20px 40px;
    background-color: #AD1818;
    color: #fff;
    border: solid 1px #AD1818;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
}
.about__button:hover {
    transition: 0.8s;
    color: #AD1818;
    background-color: #fff;
    border: solid 1px #AD1818;
}
/*projects*/

.projects {
    padding-bottom: 150px;
}
.projects__main-title {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 30px;
}
.project__first {
    margin-bottom: 90px;
    margin-top: 38px;
}
.project__image img{
    max-width: 1150px;
    width: 100%;
    margin-bottom: 15px;
}
h3.project__title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 21px;
    margin-top: 25px;
    letter-spacing: -1px;
}
.projects__more {
    cursor: pointer;
    color: #AD1818;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 90px;
    letter-spacing: -0.4px;
}
.projects__more:hover {
    border-bottom: solid 1px #dba718;
    color: #dba718;
}
.container__second {
    margin: 0 auto;
}
.project__button {
    font-family: "IBM Plex Mono";
    font-style: normal;
    color: #AD1818;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding-top: 61px;
    padding-bottom: 60px;
    margin-top: 93px;
    border: solid 1px #AD1818;
    cursor: pointer;
    letter-spacing: -0.9px;
}
* {
    border: 0;
}
.project__button:hover {
    font-family: "IBM Plex Mono";
    font-style: normal;
    color: #fff;
    background-color: #AD1818;
    transition: 0.81s;
}
/*Services*/
.services {
    background-color: #121212;
}
.services__title {
    background-color: #121212;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding-top: 151px;
    padding-bottom: 34px;
}
.bedroom {
    margin-bottom: 150px;
    background-image: url(../photos/Rectangle\ 5.png);
    height: 717px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.bedroom__text {
        position: absolute;
        width: 443px;
        bottom: 60px;
        left: 125px;
        font-size: 30px;
        line-height: 41px;
        letter-spacing: -0.03em;
        color: #FFFFFF;
}
.wrapper__services {
    background-color: #121212;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.services__image img{
    margin-bottom: 15px;
    max-width: 1150px;
    width: 100%;
}
.services__subtitle h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}
.wrapper__services-last {
    background-color: #121212;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*Contact*/
.contact {
    padding-bottom: 150px;
}
.phone__image {
    height: 22px;
    width: 13px;
    margin-bottom: 13px;
}
.contact__text {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}
.contact__number {
    font-size: 60px;
    font-weight: 400;
    color: #121212;
}
.contact__number:hover {
    transition: 0.81s;
    color: #8a5607;
}
.contact__email {
    margin-top: 30px;
    display: table;
    border-bottom: solid 2px #121212;
    font-size: 60px;
    font-weight: 400;
    color: #121212;
    opacity: 50%;
    line-height: 80px;
}
.contact__email:hover {
    transition: 0.81s;
    color: blue;
}
/*footer*/
.wrapper__footer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    background-color: #121212;
}
.footer__links {
    display: flex;
    justify-content: space-between;
}
.footer__first-child {
    margin-left: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.footer__first-child:hover {
    transition: 0.81s;
    opacity: 50%;
}
.footer__link {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 60px;
    color: #fff;
}
.footer__link:hover {
    transition: 0.51s;
    opacity: 50%;    
}
.footer__links {
    padding-bottom: 87px;
}
.footer__subtitle {
    padding-bottom: 30px;
    color: #fff;
    opacity: 50%;
}
@media (max-width: 1150px) {
    section {
        padding-left: 15px;
    }
}
@media (max-width: 767px) {
    h2.about__text {
        font-size: 35px;
    }
}